.opcoes
{
    padding-top: 30px;
    padding-bottom: 10px;
    
   
}

#opcao1{
    background-color: greenyellow;
    padding-bottom: 30px;
}

#opcao2{
    background-color: orange;
    padding-bottom: 30px;
}

#opcao3{
    background-color: aqua;
    margin-bottom: 30px;
}

.cabecalho{
    background-color: black;
    color:red;
}